# This includes all env variables used in this project
# After adding env variables, rename it to .env
PORT=8080
MONGO_URI="mongo_uri"
JWT_SECRET="jwt_secret"
JWT_REFRESH_SECRET="refresh_secret"
REDIS_HOST="redis_host"
REDIS_URL="redis_url"
REDIS_PORT="redis_port"
EMAIL_PASS="emailPasw"
EMAIL_USER="emailUser"
